name: Test grammars

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository
      - uses: actions/setup-node@v4
        name: Set up NodeJS
        with:
          node-version: 18
      - run: npm install
        name: Install dependencies
      - run: npm test
        name: Run tests
